*{margin:0px;padding:0px}
html,body{width:100%;height:100%;}
.wrapper{width:600px;height:600px;margin:50px auto;}
.tabla{display:table;width:100px;height:50px;
	border:1px solid black;vertical-align:middle;margin:0px auto;}
	.fila{display:table-row;}
.celda{display:table-cell;width:50px;height:50px;border:1px solid black;vertical-align:middle;}
/*body>div>div{width:200px;display:table-cell;position:absolute;
	text-align:center;line-height:100px;border:2px solid black;margin:0px auto;float-left}*/
