*{margin:0px;padding:0px}
html,body{width:100%;height:100%;}
body>div{display:table-cell;vertical-align:middle;}
html{display:table;}
body{display:table-row;}
body>div>div{width:200px;
	text-align:center;line-height:100px;border:2px solid black;margin:0px auto;}

