* {
    margin: 0px;
    padding: 0px
}

.wrapper {
    background-color: black;
    margin: 20px auto;
    width: 780px;
}

.encabezado {
    width: 780px;
    height: 200px;
    background-color: blue;
    margin: auto;
}

.tabla {
    display: table;
    margin: 10px auto;
    border-spacing: 5px 5px;
 	border:1px solid white;
    width: 780px;
    height: 500px;
    border-collapse: separate;
}

.fila {
    display: table-row;
}

.celdas {
    display: table-cell;
    border:1px solid white;
    width: 250px;
    height: 500px;
}

.pie {
    width: 780px;
    height: 150px;
    background-color: red;
}