* {
    margin: 0px;
    padding: 0px
}

.tabla {
    display: table;
    border-spacing: 5px 5px;
    border-collapse: separate;
    empty-cells:hide;
}

.tabla>div {
    display: table-row;

}

.tabla>div>div {
    display: table-cell;
    width: 250px;
    height: 200px;
    border: 1px solid black;
    margin:auto;
   
}
.fila2{height:500px;background-color:grey;}
