* {
    margin: 0px;
    padding: 0px
}

body>div {
    display: table;
    width: 600px;
    height: 600px;
    border-collapse: separate;
    margin: 20px auto;
    empty-cells: hide;
    border-spacing: 30px 30px;
}

div>div {
    display: table-row;
}

div>div>div {
    display: table-cell;
    width: 200px;
    height: 200px;
}

.celda {
    border-bottom: 3px solid black;
    border-left: 1px solid black;
}