* {
    margin: 0px;
    padding: 0px
}

.wrapper {
    width: 800px;
    background-color: grey;
    margin: 5px auto;
}

.encabezado {
    width: 600px;
    height: 200px;
    margin: 5px auto;
    background-color: black;
}

.tabla {
    display: table;
    width: 750px;
    height: 500px;
    background-color: olive;
    border: 1px solid blue;
    margin: 5px auto;
    border-collapse: collapse;
}

.tabla>div {
    display: table-row;
}

div>div>div {
    display: table-cell;
    width: 200px;
    height: 400px;
    border: 1px solid blue;
}