*{margin:0px;padding:0px;}
.tabla{display:table;width:750px;border:2px solid black;}
.tabla>div{display:table-row;width:750px;height:200px;}
.tabla>div>div{display:table-cell;width:250px;height:200px;border:1px solid black;}