* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
   
    width: 800px;
    height: 600px;
    
    border: 2px solid black;
    margin:20px auto;
}
.cabecera{width:700px;height:100px;margin:20px auto;border:2px solid black;}
.pie{width:700px;height:100px;margin:20px auto;border:2px solid black;}
.tabla{display:table;width:700px;height:300px;margin:auto;border-collapse:collapse;}
.fila{display:table-row;width:700px;height:300px;}
.celda{display:table-cell;width:300px;height:300px;border:2px solid black;}
