* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 450px;
    height: 650px;
    margin: 20px auto;
}

#header,
#footer {
    width: 450px;
    height: 150px;
    background-color: grey;
}

#content {
    width: 450px;
    height: 400px;
    margin: auto;
}

#navigator,
#linklist {
    width: 100px;
    height: 400px;
    background-color: olive;
    float: left;
}

#contenido {
    width: 250px;
    height: 400px;
    background-color: red;
    float: left;
}

div {
    text-align: center
}

.limpia{
	clear:both;
}