* {
    margin: 0px;
    padding: 0px
}

.wrapper {
    width: 500px;
    margin: 20px auto;
    text-align: center;
}

.header {
    width: 500px;
    height: 100px;
    background-color: grey;
}

.cuerpo {
    width: 500px;
    height: 600px;
}

.izdo {
    width: 150px;
    height: 600px;
    float: left;
}

.dcho {
    width: 350px;
    height: 600px;
    float: left;
    background-color: olive;
}

.footer {
    width: 500px;
    height: 80px;
    background-color: blue;
}

.navigation {
    width: 150px;
    height: 300px;
    background-color: green;
}

.linklist {
    width: 150px;
    height: 300px;
    background-color: purple;
}