*{margin:0px;padding:0px;}
div{text-align:center;}
#wrapper{width:450px;margin:20px auto;}
#header{width:450px;height:100px;background-color:olive;}
#cuerpo{width:450px;}
#navigator,#linklist{width:100px;height:600px;background-color:grey;float:left;}
#contenido{width:250px;height:600px;background-color:red;float:left;}
#content{width:250px;height:500px;}
#footer{width:250px;height:100px;background-color:blue;}