*{margin:0px;padding:0px;}
#wrapper{width:450px;margin:20px auto;}
#header{width:450px;height:100px;background-color:grey;}
#navigator{width:450px;height:30px;background-color:black;}
#cuerpo{width:450px;height:600px;}
#linklist{width:100px;height:600px;background-color:orange;float:left;}
#resto{width:350px;height:600px;float:left;}
#content{width:350px;height:550px;background-color:olive;}
#footer{width:350px;height:50px;background-color:black;}
#blanco{color:white;}
div{text-align:center;}
