* {
    margin: 0px;
    padding: 0px
}

#wrapper {
    width: 350px;
    margin: 30px auto;
    text-align: center;
}

#header {
    width: 350px;
    height: 100px;
    border: 1px solid black;
}

#fino {
    width: 350px;
    height: 25px;
    border: 1px solid black;
}

#content {
    width: 350px;
    height: 500px;
    border: 1px solid black;
}