*{margin:0px;padding:0px}
.wrapper {
    width: 800px;
    margin: 30px auto;
    text-align: center;
}

.header {
    width: 800px;
    height: 100px;
    background-color:blue;
}

.fino {
    width: 800px;
    height: 25px;
    background-color:orange;
    border-top:1px solid black;
}

.content {
    width: 800px;
    height: 500px;
    background-color:grey;
}