*{margin:0px;padding:0px;}
.wrapper{width:1000px;height:800px;background-color:blue;margin:auto;}
#encabezado{width:990px;height:190px;background-color:orange;border:5px solid black;}
#cuerpo{width:1000px;height:400px;}
#columna1{width:480px;height:380px;background-color:purple;float:left;border:5px solid black;}
#columna2{width:480px;height:380px;background-color:yellow;float:right;border:5px solid black;}
#pie{width:990px;height:190px;background-color:red;border:5px solid black;}