* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 1000px;
    height: 800px;
    background-color: yellow;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
    padding-top: 10px;
}

#encabezado {
    width: 990px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
}

.titulo {
    font-size: 90px;
    text-align: center;
    line-height: 150px;
}

#cuerpo {
    width: 970px;
    height: 380px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 10px;

}

#columna1 {
    width: 318px;
    height: 370px;
    border: 2px solid black;
    border-radius: 10px;
    float: left;
    margin-right:2px;
}
#columna2 {
    width: 318px;
    height: 370px;
    border: 2px solid black;
    border-radius: 10px;
    float: left;
    margin-right:2px;
}
#columna3 {
    width: 318px;
    height: 370px;
    border: 2px solid black;
    border-radius: 10px;
    float: left;
}
#pie{width: 990px;
    height: 180px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
}