*{margin:0px;padding:0px;}
.wrapper{width:1000px;height:820px;background-color:pink;margin:auto;padding:10px;}
#encabezado{width:990px;height:150px;margin:auto;background-color:yellow;margin-bottom:20px;}
.columna{width:330px;height:650px;background-color:blue;float:left;margin-left:3px;}
#titulo{font-size:90px;color:purple;text-align:center;}
#column{font-size:45px;color:gray;text-align:center;}