* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 1000px;
    height: 800px;
    background-color: yellow;
    margin: auto;
}

.encabezado {
    width: 900px;
    line-height: 100px;
    background-color: beige;
    margin: auto;
}

h1 {
    text-align: center;
}

.cuerpo {
    width: 900px;
    height: 300px;
    background-color: yellow;
    margin: auto;
}

#columna {
    width: 250px;
    line-height: 300px;
    background-color: purple;
    margin-right: 25px;
    margin-left: 25px;
    float: left;
}

.pie {
    width: 900px;
    height: 400px;
    background-color: yellow;
    margin: auto;
}

#columna1 {
    width: 400px;
    line-height: 400px;
    background-color: blue;
    margin-right: 25px;
    margin-left: 25px;
    float: left;
}