* {
    margin: 0px;
    padding: 0px
}

.wrapper {
    width: 800px;
    height: 800px;
   
    margin: auto;
}

.encabezado {
    width: 800px;
    height: 200px;
    
    margin: auto;
}

.columna {
    width: 300px;
    height: 200px;
    background-color: yellow;
    margin-left: 48px;
    margin-right: 48px;
    float: left;
    border: 1px solid black;
}

.cuerpo {
    width: 800px;
    height: 300px;
    
    margin: auto;
}

.columna1 {
    width: 250px;
    height: 300px;
    background-color: yellow;
    margin-left: 7px;
    margin-right: 7px;
    float: left;
    border:1px solid black;
}