* {
    margin: 0px;
    padding: 0px
}

.wrapper {
    width: 600px;
    height: 600px;
    background-color: gold;
    margin: auto;
    border: 2px solid black;
}

.encabezado {
    width: 592px;
    height: 192px;
    background-color: gold;
    margin: 2px auto;
    border: 2px solid black;
}

.columna {
    width: 288px;
    height: 184px;
    background-color: gold;
    margin: 2px 2px;
    border: 2px solid black;
    float: left;
    text-align:center;
    line-height:184px;
}

.cuerpo {
    width: 592px;
    height: 192px;
    background-color: gold;
    margin: 2px auto;
    border: 2px solid black;
    text-align:center;
    line-height:192px;
}

.columna1 {
    width: 189px;
    height: 184px;
    background-color: gold;
    margin: 2px 2px;
    border: 2px solid black;
    float:left;
    text-align:center;
    line-height:184px;
}