* {
    margin: 0px;
    padding: 0px
}

.wrapper {
    width: 1000px;
    height: 800px;
    background-color: black;
    margin: auto;
    padding: 10px;
}

.contenido {
    width: 300px;
    height: 390px;
    background-color: black;
    margin: auto;

    border: 5px solid white;
    text-align:center;line-height:390px;

}

.pie {
    width: 300px;
    height: 390px;
    background-color: black;
    margin-left: 95px;
    margin-right: 95px;
    float: left;
    border:5px solid white;
    text-align:center;line-height:390px;
}
p{font-size:30px;color:white;}