* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 800px;
    height: 800px;
    background-color: purple;
    background: linear-gradient(pink, purple);
    margin: 50px auto;
}

.contenido {
    width: 800px;
    height: 400px;
}

.columna {
    width: 386px;
    height: 396px;
    background-color: pink;
    background: linear-gradient(pink, purple);
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px solid gold;
    text-align: center;
    line-height: 396px;
}


.pie {
    width: 500px;
    height: 200px;
    background-color: pink;
    background: linear-gradient(pink, purple);
    margin: 100px auto;
    border: 2px solid gold;
    text-align: center;
    line-height: 200px;
}

p {
    font-size: 50px;
    color: black;
    text-shadow: 5px 5px white;
}

.reves {
    direction: rtl;
}